<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../Assets/Stylesheets/index.css"/>
    <script type="text/javascript" src="../Assets/Scripts/index.js"></script>
    <title>Git Tutorial Using GitHub</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <img id="mcla-logo" alt="MCLA Logo" src="../Assets/Images/mcla_logoWhite2.png">
      </div>

      <div class="container-fluid">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <p class="panel-title">Basics</p>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <div class="btn btn-primary btn-block">
                  <p class="btn-title">Get Started Intermediate</p>
                  <p>Introduction to Git Intermediate</p>
                  <p>Intermediate Work Flow-Chart</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="btn btn-primary btn-block">
                  <p class="btn-title">Get Started Intermediate</p>
                  <p>Introduction to Git Intermediate</p>
                  <p>Intermediate Work Flow-Chart</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="btn btn-primary btn-block">
                  <p class="btn-title">Get Started Intermediate</p>
                  <p>Introduction to Git Intermediate</p>
                  <p>Intermediate Work Flow-Chart</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <p class="panel-title">Intermediate</p>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <div class="btn btn-primary btn-block">
                  <p class="btn-title">Get Started Intermediate</p>
                  <p>Introduction to Git Intermediate</p>
                  <p>Intermediate Work Flow-Chart</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="btn btn-primary btn-block">
                  <p class="btn-title">Get Started Intermediate</p>
                  <p>Introduction to Git Intermediate</p>
                  <p>Intermediate Work Flow-Chart</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="btn btn-primary btn-block">
                  <p class="btn-title">Get Started Intermediate</p>
                  <p>Introduction to Git Intermediate</p>
                  <p>Intermediate Work Flow-Chart</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <p class="panel-title">Advanced</p>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <div class="btn btn-primary btn-block">
                  <p class="btn-title">Get Started Intermediate</p>
                  <p>Introduction to Git Intermediate</p>
                  <p>Intermediate Work Flow-Chart</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="btn btn-primary btn-block">
                  <p class="btn-title">Get Started Intermediate</p>
                  <p>Introduction to Git Intermediate</p>
                  <p>Intermediate Work Flow-Chart</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="btn btn-primary btn-block">
                  <p class="btn-title">Get Started Intermediate</p>
                  <p>Introduction to Git Intermediate</p>
                  <p>Intermediate Work Flow-Chart</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
