<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BEGIN ASSET IMPORTS HTML -->
    <link rel="stylesheet" href="../Assets/Stylesheets/bootstrap.min.css">
    <script src="../Assets/Scripts/jquery-3.1.1.min.js"></script>
    <script src="../Assets/Scripts/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../Assets/Stylesheets/index.css"/>
    <script type="text/javascript" src="../Assets/Scripts/index.js"></script>
    <!-- END ASSET IMPORTS HTML -->

    <title>MCLA GitHub Tutorial</title>
  </head>

  <body>
    <!-- BEGIN HEADER HTML -->
    <div class="page-header"></div>
    <div class="jumbotron">
      <img alt="MCLA" src="../Assets/Images/mcla-logo.png">
      <img alt="Massachusetts College of Liberal Arts" src="../Assets/Images/mcla-logo-2.png">
      <img alt="GitHub Tutorial" src="../Assets/Images/title.png" id="title-img">
    </div>
    <!-- END HEADER HTML -->

    <!-- BEGIN BODY HTML -->
    <div class="container-fluid">
      <div class="row">
        <!-- BEGIN MENU HTML -->
        <div id="left-body" class="col-md-2 col-xs-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <p id="menu-title" class="panel-title">Menu</p>
            </div>
            <div class="container panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="https://github.com/" target="_blank">GitHub</a></li>
                    <li><a href="https://sso.mcla.edu/" target="_blank">MCLA Portal</a></li>
              <!---<li><a href="https://www.mcla.edu/Academics/undergraduate/computerscience/index" target="_blank">MCLA Computer Science</a></li>
                    <li><a id="button-index" class="panel-btn" href="#">Index Page</a></li>
                    <li><a id="button-terms" class="panel-btn" href="#">Terminology</a></li>
                    <li><a id="button-diagrams" class="panel-btn" href="#">Diagrams</a></li>--->
                    <li><a href="https://git-scm.com/book/en/v2" target="_blank">Reference Book</a></li>
                    <li><a href="https://www.atlassian.com/git/tutorials/learn-git-with-bitbucket-cloud" target="_blank">Reference Tutorial</a></li>
                    <li><a href="http://www.mcla.edu/Academics/undergraduate/computerscience/faculty/index" target="_blank">Get Help</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END MENU HTML -->

        <!-- BEGIN MAIN-BODY HTML -->
        <div id="right-body" class="col-md-10 col-xs-12">
          <!-- BEGIN BASICS PANEL HTML -->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <p class="panel-title">Basics</p>
            </div>
            <div class="container panel-body">
              <div class="row">
                <div class="panel-col col-md-4 col-xs-12">
                  <div id="button-1" class="panel-btn btn btn-primary btn-block">
                    <p class="btn-title">Understanding GitHub</p>
                    <p class="btn-subTitle">What is GitHub & why is it important?</p>
                    <p class="btn-subTitle">Setup A Git Repository</p>
                  </div>
                </div>
                <div class="panel-col col-md-4 col-xs-12">
                  <div id="button-2" class="panel-btn btn btn-primary btn-block">
                    <p class="btn-title">Getting Started</p>
                    <p class="btn-subTitle">Setup Git on Windows, Linux, MacOSX</p>
                    <p class="btn-subTitle">Create/Clone A Git Repository</p>
                  </div>
                </div>
                <div class="panel-col col-md-4 col-xs-12">
                  <div id="button-3" class="panel-btn btn btn-primary btn-block">
                    <p class="btn-title">Basic Use of GitHub</p>
                    <p class="btn-subTitle">Save work on GitHub</p>
                    <p class="btn-subTitle">Get most recent work off GitHub</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END BASICS PANEL HTML -->

          <!-- BEGIN INTERMEDIATE PANEL HTML -->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <p class="panel-title">Intermediate</p>
            </div>
            <div class="container panel-body">
              <div class="row">
                <div class="panel-col col-md-4 col-xs-12">
                  <div id="button-4" class="panel-btn btn btn-primary btn-block">
                    <p class="btn-title">Understanding Branches</p>
                    <p class="btn-subTitle">What is a Branch?</p>
                    <p class="btn-subTitle">Why use Branches?</p>
                  </div>
                </div>
                <div class="panel-col col-md-4 col-xs-12">
                  <div id="button-5" class="panel-btn btn btn-primary btn-block">
                    <p class="btn-title">Get Started with Branches</p>
                    <p class="btn-subTitle">Creating a Branch</p>
                    <p class="btn-subTitle">Branch manipulations</p>
                  </div>
                </div>
                <div class="panel-col col-md-4 col-xs-12">
                  <div id="button-6" class="panel-btn btn btn-primary btn-block">
                    <p class="btn-title">Intermediate Use of GitHub</p>
                    <p class="btn-subTitle">Save work using a Branch</p>
                    <p class="btn-subTitle">Merge conflicts</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END INTERMEDIATE PANEL HTML -->

          <!-- BEGIN ADVANCED PANEL HTML -->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <p class="panel-title">Advanced</p>
            </div>
            <div class="container panel-body">
              <div class="row">
                <div class="panel-col col-md-4 col-xs-12">
                  <div id="button-7" class="panel-btn btn btn-primary btn-block">
                    <p class="btn-title">Understanding Forks</p>
                    <p class="btn-subTitle">What is a Fork?</p>
                    <p class="btn-subTitle">Why use Forks?</p>
                  </div>
                </div>
                <div class="panel-col col-md-4 col-xs-12">
                  <div id="button-8" class="panel-btn btn btn-primary btn-block">
                    <p class="btn-title">Get Started with Forks</p>
                    <p class="btn-subTitle">Creating a Fork</p>
                    <p class="btn-subTitle">Fork Setup</p>
                  </div>
                </div>
                <div class="panel-col col-md-4 col-xs-12">
                  <div id="button-9" class="panel-btn btn btn-primary btn-block">
                    <p class="btn-title">Advanced Use of GitHub</p>
                    <p class="btn-subTitle">Pull Requests</p>
                    <p class="btn-subTitle">Merge Conflicts</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END ADVANCED PANEL HTML -->

          <!-- BEGIN MISC INFO PANEL HTML -->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <p class="panel-title">Miscellaneous Information</p>
            </div>
            <div class="container panel-body">
              <div class="row">
                <div class="panel-col col-md-4 col-xs-12">
                  <div id="button-10" class="panel-btn btn btn-primary btn-block">
                    <p class="btn-title">Understanding Stash/Pop</p>
                    <p class="btn-subTitle">How to use Stash/Pop</p>
                    <p class="btn-subTitle">Why is this helpful</p>
                  </div>
                </div>
                <div class="panel-col col-md-4 col-xs-12">
                  <div id="button-11" class="panel-btn btn btn-primary btn-block">
                    <p class="btn-title">Rewriting History</p>
                    <p class="btn-subTitle">Unmodifying Files</p>
                    <p class="btn-subTitle">Undoing Changes</p>
                  </div>
                </div>
                <div class="panel-col col-md-4 col-xs-12">
                  <div id="button-12" class="panel-btn btn btn-primary btn-block">
                    <p class="btn-title">Misc Commands</p>
                    <p class="btn-subTitle">Viewing Logs</p>
                    <p class="btn-subTitle">Merging Vs. Rebasing</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END MISC INFO PANEL HTML -->
        </div>
      </div>
      <!-- END MAIN-BODY HTML -->
    </div>
    <!-- END BODY HTML -->

    <!-- BEGIN MODAL HTML -->
    <div id="modal-1" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Understanding GitHub</h4>
        </div>
        <div class="container modal-body">
          <div class="row col-md-12">
            <h4>What is GitHub?</h4>
            <p>GitHub is a Git repository hosting service, but it adds many of its own features. While Git is a version control command line tool,
              GitHub provides a Web-based graphical interface. It also provides access control and several collaboration features,
              such as a wikis and basic task management tools for every project.  Some of the features provided by GitHub include creating Branches
              and Forks, which will be covered later in the tutorial.</p>
            <h4>Why is GitHub Important?</h4>
            <p>For starters, GitHub is used at MCLA by the Computer Science Dept to easily distribute class examples and view student assignments.
              More specifically, some Professors may have you "clone" a class repository to retrieve examples that they are providing for you, and
              may also require that you upload your homework assignments to GitHub for them to view and grade.</p>
            <p>Outside of use at MCLA, GitHub is also a great tool for version control.  Version control allows you to look back at previous versions
              of your code.  For instance, if you did a bunch of work on a project and managed to break more than you were able to fix, you can look
              back and retrieve and earlier version that was working properly before you made some of those changes.  Furthermore, GitHub is also
              greatly used in the Software Development industry.  Having prior experience and knowledge of GitHub and how to properly use a variety of
              its features is a marketable skill that could be included on a resume.</p>
            <h4>Basic Git Workflow</h4>
            <div class="workflow-img">
              <img src="../Assets/Images/BasicGit.png" alt="No Image Found"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-2" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Getting Started</h4>
        </div>
        <div class="container modal-body">
          <div class="row modal-body-top">
            <div class="terminal col-md-8 col-xs-12">
              <img class="terminal-title" src="../Assets/Images/terminal-title.png" alt="No Image Found"/>
              <textarea class="terminal-window" disabled>user@terminal:~$ </textarea>
            </div>
            <div class="modal-btn-group col-md-4 col-xs-12">
              <div id="gitWin" class="btn btn-primary modal-btn">Install Git (Windows)</div>
              <div id="gitLin" class="btn btn-primary modal-btn">Install Git (Linux)</div>
              <div id="gitOSX" class="btn btn-primary modal-btn">Install Git (MacOS)</div>
              <div id="gitConfig" class="btn btn-primary modal-btn">Configure GitHub</div>
              <div id="checkConfig" class="btn btn-primary modal-btn">Check GitHub Configuration</div>
              <div id="gitClone" class="btn btn-primary modal-btn">Clone GitHub Repository</div>
            </div>
          </div>
          <div class="row modal-body-bottom">
            <div class="col-md-12">
              <p><strong>Windows:</strong> To install Git for Windows <a href="https://git-scm.com/download/win" target="_blank">Click Here</a>.</p>
              <p>Follow the setup to finish the installation with the pre-selected settings.  Once the install is complete, you will be able to find Git in your programs and
              either launch it with the Git Bash, or Git CMD (this uses Windows Command Prompt).  Either option you choose will use the same Git commands used in this tutorial.  You will
              notice there is an option for Git GUI, this is a nice tool but it is very important to understand how to use Git without the GUI before deciding to use this tool.  This is
              important so you will know how to use Git even when you do not have access to Git GUI.</p>

              <p><strong>Linux:</strong> To install Git on Linux, run the command shown in a terminal window.</p>
              <p>Git will install automatically, nothing further is needed for installation.</p>

              <p><strong>MacOSX:</strong> To install Git on MacOSX, run the command shown in a terminal window.</p>
              <p>If Git is not already installed, you will then be asked if you would like to install git.  Select yes, and git will install onto your system.</p>

              <p><strong>Configuration:</strong>  Once you have Git installed, the first thing you should do is configure it to your identity.</p>
              <p>Every Git commit you make uses this information, so it is important that you set this up.  Simply run the commands shown in the
              terminal window, and you will be all set and ready to go.  If you would like to use a different identity from your global configuration you can run
              the same commands without the "--global" tag in which ever project you are in.  This will not overwrite your global settings unless you include
              the "--global" tag.</p>

              <p><strong>Create a Repository:</strong>  Creating a Repository is done on the GitHub website.</p>
              <p>To get your GitHub Repository URL, simply log into GitHub and click on the repository you would like to clone.  On that page you will find
              a green button that reads "Clone or Download", click that button and copy the URL displayed.</p>

              <p><strong>Clone a Repository:</strong>  Once you have your GitHub Repository URL, run the command shown in the terminal window.</p>
              <p>To get your GitHub Repository URL, simply log into GitHub and click on the repository you would like to clone.  On that page you will find
              a green button that reads "Clone or Download", click that button and copy the URL displayed.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-3" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">GitHub Basics</h4>
        </div>
        <div class="container modal-body">
          <div class="row modal-body-top">
            <div class="terminal col-md-8 col-xs-12">
              <img class="terminal-title" src="../Assets/Images/terminal-title.png" alt="No Image Found"/>
              <textarea class="terminal-window" disabled>user@terminal:~$ </textarea>
            </div>
            <div class="modal-btn-group col-md-4 col-xs-12">
              <div id="gitAdd" class="btn btn-primary modal-btn">Add to Staging Area</div>
              <div id="gitCommit" class="btn btn-primary modal-btn">Commit to Local Repository</div>
              <div id="gitPush" class="btn btn-primary modal-btn">Push to Remote Repository</div>
              <div id="gitStatus" class="btn btn-primary modal-btn">Check File States</div>
              <div id="gitPull" class="btn btn-primary modal-btn">Pull from Remote Repository</div>
            </div>
          </div>
          <div class="row modal-body-bottom">
            <div class="col-md-12">
              <p><strong>Add Changed Files to Staging Area:</strong> Make sure all files are saved after making changes.</p>
              <p>There are a few ways to do this, the command provided (or 'git add -a') is the simplest way to add ALL changed, deleted, or new files in the Git Repository to the
              staging area.  This is great if you want to commit all changes made.  You can also add files individually to the staging area using (git add "file name"), you can add
              more than one file at a time by separating the file names by a space.</p>

              <p><strong>Commit to Local Repository:</strong> It is suggested to add a commit message reflecting the changes made.</p>
              <p>This will update your Local Repository with all the changes added to the Staging Area</p>

              <p><strong>Push to Remote Repository:</strong> You will be prompted to enter your Git Email and Password.</p>
              <p>This will push all the changes in your Local Repository to your Remote Repository, updating your files on GitHub.</p>

              <p><strong>Check File States:</strong> There are multiple status commands that may provide greater detail if desired, look at the provided Reference Book.</p>
              <p>The basic status command is provided, this will display information regarding what files have been changed and what state the files are currently in.  The state of
              the files reference whether or not they have been staged, commited, or pushed.  If all changes have been pushed to your Remote Repository then not files will be displayed
              as everything is currently up to date.</p>

              <p><strong>Pull from Remote Repository:</strong> Be sure to Pull from your Remote Repository before beginning any new work on your project.</p>
              <p>This will Pull the current state of your project down from your Remote Repository to your Local Repository.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-4" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Understanding Branches</h4>
        </div>
        <div class="container modal-body">
          <div class="row col-md-12">
            <h4>What is a Branch?</h4>
            <p>The way Git stores data is basically by saving a snapshot of your content at the time of commit.  Think of a Branch
            as a pointer, in which points to a certain snapshot of your code.  Git tracks what Branch you are one with what is referred
            to as the 'HEAD'.  This is a special pointer that points to the Branch you are currently on, and allows you to create and
            switch between multiple Branches.  These Branches are stored on your Local Repository, and can be merged and pushed up to
            GitHub once tasks are completed.</p>
            <h4>Why Are Branches Important?</h4>
            <p>By default you are provided with a Branch labeled 'master',but you can also make your own.  When you make a Branch,
            it creates a new pointer with the name you provide and allows you to edit code on that Branch separately from your master
            Branch.  This makes it easy to accomplish working on and managing multiple tasks without getting out of scope.  Imagine you
            are working on a task, but get informed that something is broken and you need to fix it ASAP.  You can create a new Branch
            and commit the fix for the code, without having to worry about pushing up unfinished code from your original task.  Without
            Branches this would not be possible, and could potentially create a lot more problems by being forced to commit untested code.</p>
            <h4>Branches & Git Workflow</h4>
            <div class="workflow-img">
              <img src="../Assets/Images/git-branch.jpg" alt="No Image Found"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-5" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Branch Management</h4>
        </div>
        <div class="container modal-body">
          <div class="row modal-body-top">
            <div class="terminal col-md-8 col-xs-12">
              <img class="terminal-title" src="../Assets/Images/terminal-title.png" alt="No Image Found"/>
              <textarea class="terminal-window" disabled>user@terminal:~$ </textarea>
            </div>
            <div class="modal-btn-group col-md-4 col-xs-12">
              <div id="createBranch" class="btn btn-primary modal-btn">Create Branch</div>
              <div id="viewBranches" class="btn btn-primary modal-btn">View Branches</div>
              <div id="switchBranch" class="btn btn-primary modal-btn">Switch Branch</div>
              <div id="checkoutNewBranch" class="btn btn-primary modal-btn">Create & Switch Branch</div>
              <div id="delBranch" class="btn btn-primary modal-btn">Delete A Branch</div>
            </div>
          </div>
          <div class="row modal-body-bottom">
            <div class="col-md-12">
              <p><strong>Creating and Switching Branches:</strong>  You should always switch to Master branch, and do a pull before creating a branch!</p>
              <p>There are two ways to do this.  You can do the steps individually by first creating the branch and then switching to that branch, or you can
              use the shortcut command that will do both at the same time.  Branch names should reflect the task you are working on with that branch, common
              practice in industry is using the assigned task ID.</p>

              <p><strong>Viewing Branches:</strong></p>
              <p>It is always helpful to view your branches, especially if you are working on multiple tasks on different branches.  The branch your HEAD is currently
              pointing too will have an asterisk and be a different color.</p>

              <p><strong>Deleting a Branch:</strong></p>
              <p>You should know how to delete a branch whether you made a spelling mistake on the branch name, or simply want to clear out branches that are no longer needed.
              One thing to keep in mind is that you cannot delete the branch that your HEAD is currently pointing to.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-6" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">GitHub Intermediate</h4>
        </div>
        <div class="container modal-body">
          <div class="row modal-body-top">
            <div class="terminal col-md-8 col-xs-12">
              <img class="terminal-title" src="../Assets/Images/terminal-title.png" alt="No Image Found"/>
              <textarea class="terminal-window" disabled>user@terminal:~$ </textarea>
            </div>
            <div class="modal-btn-group col-md-4 col-xs-12">
              <div id="branchAdd" class="btn btn-primary modal-btn">Add to Staging Area</div>
              <div id="branchCommit" class="btn btn-primary modal-btn">Commit to Local Repository</div>
              <div id="pushBranch" class="btn btn-primary modal-btn">Push Branch to Remote Repository</div>
              <div id="mergeBranch" class="btn btn-primary modal-btn">Merge Branch to Master</div>
              <div id="pushMergedBranch" class="btn btn-primary modal-btn">Push Master After Merge</div>
            </div>
          </div>
          <div class="row modal-body-bottom">
            <div class="col-md-12">
              <p><strong>Push Branch to Remote Repository: </strong>This will push your Branch directly to GitHub.</p>
              <p>This is one way to commit changes in your Branch to GitHub and to merge it into Master.  When you use this command, you will then have to visit GitHub and submit
              a Pull Request to merge your Branch into Master.  Here people in the group can review and make suggestions to your code, and then the code can be merged to the Master.</p>

              <p><strong>Merge Branch to Master: </strong> This will merge changes made on specified Branch to the Master Branch.</p>
              <p>First you need to be sure to switch to your Master Branch, and then merge 'Branch Name'.  Git will automatically merge your Branch onto the Master Branch as long
              as there are not merge conflicts.</p>
              <p><strong>Push Master after Merge:</strong> This is done the same as a normal Push.</p>
              <p>After you have merged your Branch onto the Master Branch succesfully, all that is left is to Push your Master up to GitHub.</p>
              <p><strong>Merge Conflict: </strong>Merge conflicts happen, especially if multiple people are working on the same project.</p>
              <p>A merge conflict occurs when you try to merge two branches that changed the same lines of code.  When there is a merge conflict, it will show in the terminal what
              file(s) it is in.  From there look for these identifiers as shown below.  This shows which two versions of changes are conflicting with each other.  To fix this,
              simply delete the <<, >>, and ==, leave the code you would like to keep, save and start the process to Push to GitHub again.</p>
              <div class="mergeConflictExample">
                <p><<<<<<<<<<<<<<<<<<<<<<<<<<<<<< HEAD</p>
                <p>Code found above the ==== is version of code found on Master Branch(HEAD AT THE TIME OF BRANCH CREATION).</p>
                <p>===================================</p>
                <p>Code found below the ==== is version of code submitted on Branch you are trying to merge.</p>
                <p>>>>>>>>>>>>>>>>>>>>>>>>>>>>> BRANCH</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-7" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Understanding Forks</h4>
        </div>
        <div class="container modal-body">
          <div class="row col-md-12">
            <h4>What is a Fork?</h4>
            <p>A Fork is a copied repository of an existing project.  By Forking this project, you create your own personal copy
            of that project which allows you to make changes to it without effecting the original project.</p>
            <h4>Why are Forks Important?</h4>
            <p>Forks are commonly used on bigger projects that have multiple developers that contribute to it.  Anyone can create a Fork from a public
            repository, but only the Project Owner can write to it.  Anyone who makes changes on a Fork, must submit those changes via a Pull
            Request in order for their code to get merged into the original project.  This allows the Project Owner and/or other developers to analyze
            the suggested changes.  Only the Project Owner gets to decide if the changes will be merged or not, and this is very important, as you don't
            want just anyone to have the ability to change your project.</p>
            <h4>Git Fork Workflow</h4>
            <div class="workflow-img">
              <img src="../Assets/Images/ForkWorkFlow.png" alt="No Image Found"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-8" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Using Forks</h4>
        </div>
        <div class="container modal-body">
          <div class="row modal-body-top">
            <div class="terminal col-md-8 col-xs-12">
              <img class="terminal-title" src="../Assets/Images/terminal-title.png" alt="No Image Found"/>
              <textarea class="terminal-window" disabled>user@terminal:~$ </textarea>
            </div>
            <div class="modal-btn-group col-md-4 col-xs-12">
              <div id="createFork" class="btn btn-primary modal-btn">Creating a Fork</div>
              <div id="checkRemote" class="btn btn-primary modal-btn">Check Fork Upstream</div>
              <div id="setRemote" class="btn btn-primary modal-btn">Configure Fork Upstream</div>
              <div id="pullFork" class="btn btn-primary modal-btn">Pull Fork Upstream</div>
            </div>
          </div>
          <div class="row modal-body-bottom">
            <div class="col-md-12">
              <p><strong>Creating a Fork:</strong> This must done on GitHub.</p>
              <p>Locate the project repository you would like to contribute to, click the Fork button in the upper right side of the screen.
              This creates your Forked Repository, now all that is left to do is to clone that repository and you're good to go.</p>

              <p><strong>Check Fork Upstream:</strong> By Default you will have to set this up.</p>
              <p>After you set up your Fork Upstream, you can run this again to ensure it is set up correctly.</p>

              <p><strong>Configure Fork Upstream:</strong> This will sync your upstream with the original project repository.</p>
              <p>If you do not perform this step, you will not be able to pull the most current project code from GitHub, or be able to submit a Pull Request to the project owner.</p>

              <p><strong>Pull Fork Upstream:</strong> Make sure to switch to your master branch before using this command.</p>
              <p>This will update your master branch with the most up to date code from the project Fork</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-9" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Pushing with Forks</h4>
        </div>
        <div class="container modal-body">
          <div class="row modal-body-top">
            <div class="terminal col-md-8 col-xs-12">
              <img class="terminal-title" src="../Assets/Images/terminal-title.png" alt="No Image Found"/>
              <textarea class="terminal-window" disabled>user@terminal:~$ </textarea>
            </div>
            <div class="modal-btn-group col-md-4 col-xs-12">
              <div id="pullReq" class="btn btn-primary modal-btn">Create Pull Requests</div>
              <div id="mergePull" class="btn btn-primary modal-btn">Merging Pull Request</div>
              <div id="mergeCon" class="btn btn-primary modal-btn">Merge Conflicts</div>
            </div>
          </div>
          <div class="row modal-body-bottom">
            <div class="col-md-12">
              <p><strong>Create Pull Request:</strong> Request your code be reviewed / merged with Project Master.</p>
              <p>This is done on the GitHub website, after you follow the steps to push your changes up to YOUR Forked repository.  To push to your Forked
              Repository, simply follow the steps outlined in previous modals for pushing code.</p>
              <p>Next, go to the Original Project Repository, and click on the Pull Requests tab.  On the next page, you will find a New Pull Requests button
              colored in green, click that to begin making your Pull Request.  The next page will have the title "Comparing Changes", this is where you will
              do exactly that, compare the Master to your Branch being submitted.  There are two drop down menus just below the page title, one is prefixed with
              'base', and the other with 'compare'.  The 'base' should always be the project Master, and under 'compare' should be the branch you are requesting
              to merge.  After selecting these two drop downs, you can view the files that have been changed in the project on your branch in comparison to the
              Master.  Click Create Pull Request, the next page allows you to enter a Pull Request Title and a description for what changes you made.  After that,
              simply click Create Pull Request again and you are done.</p>
              <p>After the Pull Request is submitted, people may make comments on a few changes they would like to see.  In this case you can make the changes to
              the branch you submitted and just re-push it up to your Forked Repository, the Pull Request will automatically reflect those changes made.</p>

              <p><strong>Merging Pull Request:</strong> This can only be done by the Project Owner, or those authorized to do so.</p>
              <p>This also is done on the GitHub website, once the code has been reviewed and approved, there is a merge button at the bottom of the Pull Request
              that will automatically merge the Pull Request into the Master.  Note:  If there are conflicts, these will need to be resolved prior to merging.</p>

              <p><strong>Merge Conflicts:</strong> You can check for merge conflicts on your Pull Request.</p>
              <p>At the bottom of the Pull Request will be a small section in which GitHub displays whether or not the code has conflicts, if it doesn't, GitHub will
              report that the code can be automatically merged.  Otherwise, it will state that there are conflicts and cannot be automatically merged.</p>
              <p>These conflicts can be resolved in almost the same manner as they are done with Branches, make sure your Master branch is up to date and then follow the
              branch merge instructions to merge the Master into your branch.  Notice:  You are merging the Master TO YOUR Branch, NOT YOUR BRANCH TO YOUR MASTER.  This
              means that your HEAD must be on your branch when you merge the two together.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-10" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Stash / Pop</h4>
        </div>
        <div class="container modal-body">
          <div class="row modal-body-top">
            <div class="terminal col-md-8 col-xs-12">
              <img class="terminal-title" src="../Assets/Images/terminal-title.png" alt="No Image Found"/>
              <textarea class="terminal-window" disabled>user@terminal:~$ </textarea>
            </div>
            <div class="modal-btn-group col-md-4 col-xs-12">
              <div id="gitStash" class="btn btn-primary modal-btn">Git Stash</div>
              <div id="stashList" class="btn btn-primary modal-btn">Stash List</div>
              <div id="showStash" class="btn btn-primary modal-btn">Show Stash</div>
              <div id="gitPop" class="btn btn-primary modal-btn">Git Pop</div>
              <div id="gitDrop" class="btn btn-primary modal-btn">Git Drop</div>
            </div>
          </div>
          <div class="row modal-body-bottom">
            <div class="col-md-12">
              <p><strong>What & Why with Stash / Pop:</strong></p>
              <p>Git Stash/Pop is a tool that you can use to temporarily 'stash' or store changes made on a branch.  Say you were doing work on the wrong branch,
              you just put in and hour or more into a task and then realize you did it all on your Master branch.  If only there was a way you could move your changes
              over to the branch you intended to do all the work on.  Well thats one thing Stash/Pop allow you to do, you can 'stash' your changes, switch branches, and
              then 'pop' your changes off the stack onto that branch.  That is just one example as to when this may be handy, but more situations can and will be more
              easily solved by knowing how to use this simple tool.</p>

              <p><strong>Stash:</strong> See command in terminal window</p>
              <p>Changes are pushed onto a stack, and will stay there until removed from the stack.  Keep in mind it is not a good idea to rely on changes being saved
              in the stack for long periods of time.</p>

              <p><strong>Stash List / Show Stash:</strong> See commands in terminal window</p>
              <p>Stash List is pretty self explanatory, it will list all the stashed commits on the stack.</p>
              <p>Stash Show will display the details about the specific stashed commit.  If no specific stash is provided, it will show the most recently pushed stash.  The '-p'
              is also optional, but without it you will see less details about that stashed commit.</p>

              <p><strong>Stash Pop / Apply:</strong> See command in terminal window</p>
              <p>Stash Pop is how you apply stashed commit on the stack onto a current branch.  If no specific stash is provided, it will use the most recently stashed commit.
              Note that Git Pop will also remove that commit from the stack.</p>
              <p>Stash Apply is essentially the same as Git Pop, but this command will not automatically remove the stashed commit from the stack.</p>

              <p><strong>Stash Drop:</strong> See command in terminal window</p>
              <p>Stash Drop will remove a stashed commit from the stack.  If not stash is provided it will remove the most recently stashed commit.</p>
              <p>Stash Clear is also a valid option, but this will remove all stashed commits from the stack.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-11" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Undoing Changes</h4>
        </div>
        <div class="container modal-body">
          <div class="row modal-body-top">
            <div class="terminal col-md-8 col-xs-12">
              <img class="terminal-title" src="../Assets/Images/terminal-title.png" alt="No Image Found"/>
              <textarea class="terminal-window" disabled>user@terminal:~$ </textarea>
            </div>
            <div class="modal-btn-group col-md-4 col-xs-12">
              <div id="gitAmend" class="btn btn-primary modal-btn">Amend Commit</div>
              <div id="gitUnStage" class="btn btn-primary modal-btn">Un-Stage File</div>
              <div id="gitUnMod" class="btn btn-primary modal-btn">Revert Modified File</div>
              <div id="gitReset" class="btn btn-primary modal-btn">Reset Branch</div>
              <div id="gitRevert" class="btn btn-primary modal-btn">Revert Branch</div>
              <div id="gitCheckout" class="btn btn-primary modal-btn">Checkout Commit</div>
            </div>
          </div>
          <div class="row modal-body-bottom">
            <div class="col-md-12">
              <p><strong>Amend Commit:</strong> See command in terminal window</p>
              <p>Say you do your commit command, but then realize you want to add another file to this commit.  This command allows you to do that.  Simply
              add the file to the staging area and then run this command.</p>
              <p>Perhaps you messed up your commit message, and would really like to change it.  If you run this command before pushing up your code, you can
              re-enter your commit message.</p>

              <p><strong>Un-Stage a File:</strong> See command in terminal window</p>
              <p>This allows you to remove a file from the Staging Area.  Say you accidently added all changed files to your Staging Area, but then realized
              that there is a file in that list you do not want to save the changes for.  Using this command will allow you to remove that file from your
              Staging Area and will therefore not be commited.</p>

              <p><strong>Revert Modified File:</strong> See command in terminal window</p>
              <p>Use git status to see unstaged files.  If there is a file there that you do not want to save the changes for, using this command will revert
              the file back to its state in the last commit.</p>

              <p><strong>Reset Branch:</strong> This alters commit history</p>
              <p>This tool is used to move the HEAD to a different commit X.  In otherwords, removing or deleting commits and reseting or
              rewinding a branch to a previous commit.  Note, HEAD-x refers to where X = commit to rewind to.  If no specific commit is specified to
              rewind to, it will undo changes on current commit.</p>
              <p>There are 3 different kinds of branch reset, --soft, --mixed, and --hard.  If none of these are specified, --mixed is the default.  A soft
              reset, resets the branch on the commit-level, but the staged snapshot and working directory are not altered.  A mixed reset, resets the branch
              on the staged-level, but the working directory is not altered.  This means that the staged snapshot it made to match the commit you reset the
              branch to.  A hard reset, resets the branch on the working directory-level.  This means that all three components of the repository are reset
              back to the specified commit.</p>

              <p><strong>Revert Branch:</strong> This does not alter commit history</p>
              <p>This tool is used very similarly to Reset.  The main and most important difference is that this tool will no rewrite your commit history or
              delete commits.  Revert will rewind to the specified commit, and then create a new commit on the end of the branch with that commits snapshot.
              Note that you should have a clean working directory prior to using this tool.</p>

              <p><strong>Checkout Commit:</strong> Much like switching between Branches, but with Commits</p>
              <p>This is a great tool to look back at old version of code, all this does is move your HEAD to a certain commit state.  Be careful though, as if
              you start making changes and commits from here you could end up losing your work.  If you want to get code from a previous commit to work on, you
              should consider using Revert, Reset, or creating a whole new branch from that commit instead.</p>

              <p><strong>Reset & Checkout on File Level:</strong> These can be applied to individual files also</p>
              <p>If you add the name of a file at the end of the command, then you will be able to perform a similar action as on commits.  Rather than rewinding/viewing
              a whole commit, you can rewind/view an individual file instead.</p>
              <p>Reset on File Level:  The soft, mixed, and hard parameters have no effect when working on the file level.  When you use Reset on a file, it will take
              the file state from the specified commit and stage it for the next commit.  The working directory will not be updated.</p>
              <p>Checkout on File Level:  This will revert the file state from the specified commit on the working directory, but will not be staged.  This is commonly
              used with HEAD and not specified commit in order to revert all chanegs done so far on that file.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-12" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Misc Commands</h4>
        </div>
        <div class="container modal-body">
          <div class="row modal-body-top">
            <div class="terminal col-md-8 col-xs-12">
              <img class="terminal-title" src="../Assets/Images/terminal-title.png" alt="No Image Found"/>
              <textarea class="terminal-window" disabled>user@terminal:~$ </textarea>
            </div>
            <div class="modal-btn-group col-md-4 col-xs-12">
              <div id="gitLog" class="btn btn-primary modal-btn">View Logs</div>
              <div id="gitMerge" class="btn btn-primary modal-btn">Git Merge</div>
              <div id="gitRebase" class="btn btn-primary modal-btn">Git Rebase</div>
            </div>
          </div>
          <div class="row modal-body-bottom">
            <div class="col-md-12">
              <p><strong>Viewing Logs:</strong> Many options for this command can be found in Reference Book</p>
              <p>It can be very beneficial to see what has happened throughout a projects history.  By default, with no arguments, this command will list all commits in
              reverse chronological order in the repository.  There are too many options to provide here, but consider adding the -(n) argument, where (n) is the number
              of commits you would like to see.  This will list most recent (n) commits rather than all of them.  Press Q to exit.</p>

              <p><strong>Git Rebase VS Git Merge:</strong> Both are used to integrate changes of two branches together, but differently</p>
              <p>Git Merge will take the version of code on your Master branch, and merge it to the end of your feature branch.  This avoids the posibility of re-writing
              public commits, but can provide a messy project history by saving all commits.</p>
              <p>Git Rebase will take your Master branch, and merge your feature branch onto the end of it.  This keeps a nice linear project history, but if done
              improperly can result in re-writing public commits.
              </p>

              <p class="modal-img-p">
                <img class="modal-img" src="../Assets/Images/gitMerge.png" alt="Git Merge Image">
                <img class="modal-img" src="../Assets/Images/gitRebase.png" alt="Git Rebase Image">
              </p>

              <p><strong>Note:</strong></p>
              <p>This is a general overview --Merging VS Rebasing can be complicated, and should be looked into further before using with important projects.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

<!---    <div id="modal-index" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Misc Commands</h4>
        </div>
        <div class="container modal-body">
          <div class="row modal-body-top-index">
            <div class="col-md-6 col-xs-12">
              <dl class="dl-horizontal">
                <dt>Understanding GitHub</dt>
                  <dd>What is GitHub?</dd>
                  <dd>Why is GitHub Important?</dd>
                  <dd>Git Workflow</dd>
                <dt>Get Started</dt>
                  <dd>Installing Git</dd>
                  <dd>Configuring GitHub</dd>
                  <dd>Clone GitHub Repository</dd>
                <dt>Basic GitHub</dt>
                  <dd>Add to Staging Area</dd>
                  <dd>Commit to Local Repository</dd>
                  <dd>Push to Remote Repository</dd>
                  <dd>Check File States</dd>
                  <dd>Pull from Remote Repository</dd>
              </dl>
            </div>
            <div class="col-md-6 col-xs-12">
              <dl class="dl-horizontal">
                <dt>Learning Branches</dt>
                  <dd>What is a Branch?</dd>
                  <dd>Why Are Branches Important?</dd>
                  <dd>Branches & Git Workflow</dd>
                <dt>Get Started with Branches</dt>
                  <dd>Create a Branch</dd>
                  <dd>View Branches</dd>
                  <dd>Switch Branch</dd>
                  <dd>Delete Branch</dd>
                <dt>Intermediate GitHub</dt>
                  <dd>Add, Commit, and Push with Branches</dd>
                  <dd>Merge Branch</dd>
                  <dd>Branch Merge Conflicts</dd>
              </dl>
            </div>
          </div>
          <div class="row modal-body-bottom-index">
            <div class="col-md-6 col-xs-12">
              <dl class="dl-horizontal">
                <dt>Understanding Forks</dt>
                  <dd>What is a Fork?</dd>
                  <dd>Why are Forks Important?</dd>
                  <dd>Forks & Git Workflow</dd>
                <dt>Get Started with Forks</dt>
                  <dd>Create Fork</dd>
                  <dd>Configure Fork Upstream</dd>
                  <dd>Pull Fork Upstream</dd>
                <dt>Advanced GitHub</dt>
                  <dd>Create Pull Request</dd>
                  <dd>Merge Pull Request</dd>
                  <dd>Fork Merge Conflicts</dd>
              </dl>
            </div>
            <div class="col-md-6 col-xs-12">
              <dl class="dl-horizontal">
                <dt>Git Stash/Pop</dt>
                  <dd>Git Stash</dd>
                  <dd>Stash List</dd>
                  <dd>Show Stash</dd>
                  <dd>Git Pop</dd>
                  <dd>Git Drop</dd>
                <dt>Rewriting History</dt>
                  <dd>Amend Commit</dd>
                  <dd>Un-stage File</dd>
                  <dd>Revert Modified File</dd>
                  <dd>Reset Branch</dd>
                  <dd>Revert Branch</dd>
                  <dd>Checkout Commit</dd>
                <dt>Misc Commands</dt>
                  <dd>View Logs</dd>
                  <dd>Git Merge</dd>
                  <dd>Git Rebase</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>   --->

    <div id="modal-terms" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Index</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-diagrams" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Diagrams</h4>
        </div>
        <div class="modal-body">
          <div id="diagrams-carousel" class="carousel slide" data-interval="false">
            <ol class="carousel-indicators">
              <li data-target="#diagrams-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#diagrams-carousel" data-slide-to="1"></li>
              <li data-target="#diagrams-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img class="img-responsive center-block" src="../Assets/Images/areas.png" alt="First slide">
              </div>
              <div class="item">
                <img class="img-responsive center-block" src="../Assets/Images/BasicGit.png" alt="Second slide">
              </div>
              <div class="item">
                <img class="img-responsive center-block" src="../Assets/Images/github1.png" alt="Third slide">
              </div>
            </div>
            <a class="left carousel-control" href="#diagrams-carousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#diagrams-carousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-help" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Help</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    <!-- END MODAL HTML -->
    <!-- BEGIN FOOTER HTML -->
    <div class="page-footer">
      <h6 class="copyright">&copy; 2016-2017 MCLA STUDENT ERIC J ROGERS</h6>
    </div>
    <!-- END FOOTER HTML -->
  </body>
</html>
