<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../Assets/Stylesheets/index.css"/>
    <script type="text/javascript" src="../Assets/Scripts/index.js"></script>
    <title>MCLA GitHub Tutorial</title>
  </head>
  <body>
    <div class="page-header"></div>
    <div class="jumbotron">
      <img alt="MCLA" src="../Assets/Images/mcla-logo.png">
      <img alt="Massachusetts College of Liberal Arts" src="../Assets/Images/mcla-logo-2.png">
      <img alt="GitHub Tutorial" src="../Assets/Images/title.png" id="title-img">
    </div>

    <div class="container-fluid">
      <div class="left col-md-2">
        <div id="menu-panel" class="panel panel-primary">
          <div class="panel-heading">
            <p id="menu-title" class="panel-title">Menu</p>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <ul class="nav nav-pills nav-stacked">
                  <li>Home</li>
                  <li>GitHub</li>
                  <li>MCLA Portal</li>
                  <li>References</li>
                  <li>Get Help</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main col-md-10">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <p class="panel-title">Basics</p>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <div id="button-1" class="btn btn-primary btn-block">
                  <p class="btn-title">Understanding GitHub</p>
                  <p class="btn-subTitle">What is GitHub & why is it important?</p>
                  <p class="btn-subTitle">GitHub Basic Work Flow-Chart</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div id="button-2" class="btn btn-primary btn-block">
                  <p class="btn-title">Get Started</p>
                  <p class="btn-subTitle">Installing Git on Windows, Linus, MacOS</p>
                  <p class="btn-subTitle">Setup A Git Repository</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div id="button-3" class="btn btn-primary btn-block">
                  <p class="btn-title">Basic Use of GitHub</p>
                  <p class="btn-subTitle">Save work on GitHub</p>
                  <p class="btn-subTitle">Get most recent work off GitHub</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <p class="panel-title">Intermediate</p>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <div id="button-4" class="btn btn-primary btn-block">
                  <p class="btn-title">Understanding Branches</p>
                  <p class="btn-subTitle">What is a Branch?</p>
                  <p class="btn-subTitle">Intermediate Work Flow-Chart</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div id="button-5" class="btn btn-primary btn-block">
                  <p class="btn-title">Get Started with Branches</p>
                  <p class="btn-subTitle">Creating a Branch</p>
                  <p class="btn-subTitle">Branch manipulations</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div id="button-6" class="btn btn-primary btn-block">
                  <p class="btn-title">Intermediate Use of GitHub</p>
                  <p class="btn-subTitle">Save work using a Branch</p>
                  <p class="btn-subTitle">Branch conflicts</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <p class="panel-title">Advanced</p>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <div id="button-7" class="btn btn-primary btn-block">
                  <p class="btn-title">Understanding Forks</p>
                  <p class="btn-subTitle">What is a Fork?</p>
                  <p class="btn-subTitle">Advanced Work Flow-Chart</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div id="button-8" class="btn btn-primary btn-block">
                  <p class="btn-title">Get Started with Forks</p>
                  <p class="btn-subTitle">Creating a Fork</p>
                  <p class="btn-subTitle">Pull Requests</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div id="button-9" class="btn btn-primary btn-block">
                  <p class="btn-title">Conflicts with Forks</p>
                  <p class="btn-subTitle">Dealing with conflicts</p>
                  <p class="btn-subTitle">Version control</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modal-1" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-2" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-3" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-4" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-5" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-6" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-7" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-8" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div id="modal-9" class="modal fade">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </body>
</html>
