body {
  width: auto;
  margin: 0;
  background-color: #CCCCCC;
}

.page-header {
  margin: 0px;
  padding: 15px;
  border-bottom-color: #F1BC00;
  border-bottom-width: medium;
  background-color: #12396F
}

.jumbotron {
  overflow: hidden;
  border-bottom-color: #F1BC00;
  border-bottom-width: medium;
  border-bottom-style: solid;
  background-color: white;
  color: #F1BC00;
  padding: 15px 30px 15px 30px !important;
  margin-top: 0px;
  margin-bottom: 20px;
}

#title-img {
  float: right;
}

#menu-panel {

}

.panel-heading {
  background-color: #12396F!important;
}

.panel-title {
  overflow: hidden;
  font-weight: bold;
  font-size: 20px;
  color: #F1BC00;
}

#menu-title {
  text-align: center;
}

.col-xs-12 {
  margin-top: 10px;
}

.btn.btn-primary.btn-block {
  overflow: hidden;
}

.btn-title {
  color: #F1BC00;
  font-weight: bold;
}

.btn-subTitle {
  text-align: left;
  margin-bottom: 0px;
}

.modal-content {
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  width: 65%;
  height: 75%;
}

.modal-body {
  height: 80%;
}

.body-left {
  height: 100%;
}

.body-right {
  text-align: center;
  height: 100%;
}

.body-right .btn {
  width: 80%;
  margin: 0px 0px 10px 0px;
}

.terminal-title {
  border-top-right-radius: .3em;
  border-top-left-radius: .3em;
  height: 5%;
  width: 100%;

}

.terminal-window {
  background-color: black;
  color: white;
  height: 95%;
  width: 100%;
  resize: none;
  border: none;
}
