/*  Main Page CSS  */
body {
  width: auto;
  margin: 0;
  background-color: #CCCCCC;
}

#left-body {
  padding: 0px 0px 0px 15px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.page-header {
  margin: 0px;
  padding: 15px;
  border-bottom-color: #F1BC00;
  border-bottom-width: medium;
  background-color: #12396F
}

.page-footer {
  height: 35px;
  background-color: white;
  border-top-color: #F1BC00;
  border-top-width: medium;
  border-top-style: solid;
}

.copyright {
  margin: 0px;
  padding: 10px 0px 0px 0px;
  color: #12396F;
  text-align: center;
}

.jumbotron {
  overflow: auto;
  border-bottom-color: #F1BC00;
  border-bottom-width: medium;
  border-bottom-style: solid;
  background-color: white;
  color: #F1BC00;
  padding: 15px 30px 15px 30px !important;
  margin: 0px 0px 15px 0px;
}

#title-img {
  float: right;
}

.panel-heading {
  background-color: #12396F!important;
}

.panel-title {
  overflow: hidden;
  font-weight: bold;
  font-size: 20px;
  color: #F1BC00;
}

.panel-body {
  width: 100%;
}

#menu-title {
  text-align: center;
}

.panel-btn {
  overflow: hidden;
}

.btn-default {
  width: 15%;
}

.btn-title {
  color: #F1BC00;
  font-weight: bold;
}

.btn-subTitle {
  text-align: left;
  margin-bottom: 0px;
}

/*  Modal CSS  */
.modal-content {
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 75%;
  overflow: hidden;
}

.modal-body {
  height: 80%;
  width: 100%;
  overflow: auto;
  padding: 10px 10px 0px 10px;
}

.modal-body-top {
  height: 60%;
  padding: 0px 0px 17.5px 0px;
  margin: 0px 0px 0px 0px;

}

.terminal {
  height: 100%;
  margin: 0px 0px 10px 0px;
}

.terminal-title {
  border-top-right-radius: .3em;
  border-top-left-radius: .3em;
  height: 10%;
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.terminal-window {
  background-color: black;
  color: white;
  height: 90%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 2px;
  resize: none;
  border: none;
}

.modal-btn-group {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin: 0px 0px 17.5px 0px;
}

.modal-btn-group .btn {
  margin: 0px 0px 8px 0px;
  padding: 6px 0px 6px 0px;
  width: 80%;
}

.modal-btn-group .btn:last-child {
  margin: 0px 0px 0px 0px;
}

.modal-body-bottom {
  border-top: solid;
  height: 40%;
  margin: 0px 0px 0px 0px;
  padding: 15px 15px 0px 15px;
  overflow: auto;
}

/*  Carousel CSS  */
.carousel-inner {
  margin-bottom: 10px;
}

#diagrams-carousel, .carousel-inner, .item {
  height: 100%;
  width: 100%;
}

.carousel-indicators {
  bottom: -20px;
}

.carousel-indicators li {
    display: inline-block;
    background-color: white;
    box-shadow: inset 1px 1px 1px 1px black;
}
.carousel-indicators .active {
  background-color: black;
}

.modal-img {
  width: 100%;
}

/*  Rules for when screen is xs  */
@media (max-width: 767px) {
  #left-body {
    padding: 0px 100px 0px 100px;
  }
  #right-body {
    padding: 0px 100px 0px 100px;
  }
  .row > .panel-col:first-child {
    margin: 0px 0px 0px 0px;
  }
  .row > .panel-col {
    margin: 5px 0px 0px 0px;
  }
  .btn-subTitle {
    display: none;
  }
  .btn-title {
    margin: 0px 0px 0px 0px;
  }
  li a {
    text-align: center;
    font-weight: bold;
  }
}

/*  Rules for when screen is sm  */
@media (min-width: 768px) and (max-width: 991px) {
  #left-body {
    padding: 0px 100px 0px 100px;
  }
  #right-body {
    padding: 0px 100px 0px 100px;
  }
  .row > .panel-col:first-child {
    margin: 0px 0px 0px 0px;
  }
  .row > .panel-col {
    margin: 5px 0px 0px 0px;
  }
  li a {
    text-align: center;
    font-weight: bold;
    font-size: large;
  }
}

/*  Rules for when screen is md and up  */
@media (min-width: 992px) {
  
}