body {
  width: auto;
  margin: 0;
  background-color: #CCCCCC;
}

.left {

}

.main {

}

#menu-panel {
  
}

.jumbotron {
  background-color: #12396F;
  color: #F1BC00;
  padding: 15px;
  margin-bottom: 20px;
}

#mcla-logo {
  max-height: 200px;
  max-width: 250px;
}

.panel-heading {
  background-color: #12396F!important;
}

.panel-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #F1BC00;
}

.col-xs-12 {
  margin-top: 10px;
}

.btn.btn-primary.btn-block {
  overflow: hidden;
}

.btn-title {
  color: #F1BC00;
  font-weight: bold;
}

.btn-subTitle {
  text-align: left;
  margin-bottom: 0px;
}
